<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1fuCNFrD-Wspz9vlWJuQoDBo2ofofOdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>288307457206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingapp</string>
	<key>PROJECT_ID</key>
	<string>booking-app-db92f</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-app-db92f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288307457206:ios:3a157795283997c53a4a17</string>
</dict>
</plist>